<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <th:block th:replace="~{layout/head}">

    </th:block>
    <title>Books List</title>
</head>
<body>

<div th:replace="~{layout/navigation}"></div>
<div class="container contaner-body">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-sm-9">

                <form th:method="GET" th:action="@{/books/all}">
                    <input
                            type="hidden"
                            th:name="${_csrf.parameterName}"
                            th:value="${_csrf.token}" />
                    <fieldset>
                        <legend>Select category</legend>
                        <input th:type="hidden" th:name="page" th:value="${#request.getParameter('page')}">
                        <div class="form-group">
                            <select th:name="category" class="custom-select" th:object="${categories}" onchange="this.form.submit()">
                                <option th:if="${#request.getParameter('category')==null}" selected>All</option>
                                <option th:if="${#request.getParameter('category')!=null}" value="">All</option>
                                <option th:if="${#request.getParameter('category')!=null && #request.getParameter('category').equals(cat.getName())}"
                                        th:each="cat:${categories}"
                                        th:value="${cat.getName()}"
                                        th:text="${cat.getName()}"
                                        selected
                                >
                                <option th:if="${#request.getParameter('category')!=cat.getName()}"
                                        th:each="cat:${categories}"
                                        th:value="${cat.getName()}"
                                        th:text="${cat.getName()}"
                                >
                                </option>
                            </select>
                        </div>
                    </fieldset>
                </form>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">#Pages</th>
                        <th scope="col">#CopiesAvaliable</th>
                        <th scope="col">Buy Price</th>
                        <th scope="col">Rent Price</th>
                        <th scope="col">Description</th>
                        <th scope="col" th:if="${#authorization.expression('hasAnyRole(''ROLE_READER'')')}"
                            th:text="Order"></th>
                    </tr>
                    </thead>
                    <tbody th:each="book:${books}" th:object="${book}">
                    <tr class="table-active">
                        <th scope="row" th:text="*{getId()}"></th>
                        <td th:text="*{getName()}"></td>
                        <td th:text="*{getNumberOfPages()}"></td>
                        <td th:text="*{getCopiesAvailable()}"></td>
                        <td th:text="*{getBuyPrice()}"></td>
                        <td th:text="*{getRentPrice()}"></td>
                        <td th:text="*{getBookDescription()}"></td>
                        <td><a class="btn btn-success"
                               th:if="${#authorization.expression('hasAnyRole(''ROLE_READER'')')}"
                               th:href="@{/orders/make/{id}(id=*{getId()})}"
                               th:text="Order"></a></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <ul class="pagination">
                        <th:block th:if="${books.hasPrevious()}">
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="@{/books/all(page=${pageable.getPageNumber()-1},category=${#request.getParameter('category')})}">&laquo;</a>
                            </li>
                        </th:block>
                        <th:block th:if="${books.hasNext()}">
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="@{/books/all(page=${pageable.getPageNumber()+1},category=${#request.getParameter('category')})}">&raquo;</a>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>